apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: echo-prod
nameSuffix: -prod
resources:
  - ../../base
patches:
  - target:
      kind: Deployment
      name: echo-server
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2